* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: flex-start;
  background-color: #111;
}

.container {
  margin: 100px auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container > .form {
  height: 34px;
}
.container > .form > input {
  border: none;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 2px;
  font-size: 16px;
  padding: 4px;
  height: inherit;
  width: 260px;
}
.container > .form > button {
  padding: 4px 20px;
  border: 1px solid #ddd;
  background-color: #eee;
  height: 100%;
  height: inherit;
  cursor: pointer;
  border-radius: 2px;
}
.container > .form > button:hover {
  background-color: #fff;
}
.container > .list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.container > .list > li {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 6px;
  display: flex;
  align-items: center;
  height: 34px;
  border-radius: 2px;
  font-weight: 500;
  color: #222;
}
.container > .list > li form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container > .list > li form > .input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding-bottom: 2px;
  padding: 2px;
  width: 240px;
}
.container > .list > li form > .input.editable {
  background-color: #fff;
}
.container > .list > li form > .buttons {
  display: flex;
  height: inherit;
  align-items: center;
  gap: 14px;
  justify-content: center;
}
.container > .list > li form > .buttons > div > button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.container > .list > li form > .buttons > div > button > i {
  font-size: 16px;
}
.container > .list > li form > .buttons > div:first-of-type > button > i {
  color: #f42b03;
}
.container > .list > li form > .buttons > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 14px;
}
.container > .list > li form > .buttons > div:last-of-type > span {
  display: flex;
  justify-content: center;
  width: 30px;
  cursor: pointer;
}
.container > .list > li form > .buttons > div:last-of-type > span i {
  color: #51bbfe;
}
.container > .list > li form > .buttons > div:last-of-type > span.hidden {
  display: none;
}
.container > .list > li form > .buttons > div:last-of-type > button {
  width: 30px;
}
.container > .list > li form > .buttons > div:last-of-type > button i {
  color: #00a676;
  font-size: 20px;
}